--aero-blue: #D0FFD5ff;
--tea-green: #C9FACFff;
--tea-green-2: #C3F5C9ff;
--celadon: #BCF1C2ff;
--celadon-2: #B6ECBCff;
--celadon-3: #AFE7B6ff;
--celadon-4: #A9E2B0ff;
--celadon-5: #A2DEAAff;
--celadon-6: #9CD9A4ff;
--celadon-7: #95D49Dff;
--eton-blue: #8ECF97ff;
--eton-blue-2: #88CB91ff;
--dark-sea-green: #81C68Bff;
--dark-sea-green-2: #7BC185ff;
--dark-sea-green-3: #74BC7Fff;
--emerald: #6EB878ff;
--medium-sea-green: #67B372ff;
--medium-sea-green-2: #61AE6Cff;
--forest-green-crayola: #5AA966ff;
--forest-green-crayola-2: #54A560ff;
--green-pigment: #4DA05Aff;
--may-green: #469B53ff;
--may-green-2: #40964Dff;
--may-green-3: #399247ff;
--may-green-4: #338D41ff;
--forest-green-web: #2C883Bff;
--forest-green-web-2: #268335ff;
--ao-english: #1F7F2Eff;
--ao-english-2: #197A28ff;
--ao-english-3: #127522ff;