/* CSS HEX */
--baby-pink: #FFD1D1ff;
--baby-pink-2: #FECBCBff;
--baby-pink-3: #FEC5C5ff;
--spanish-pink: #FDBFBFff;
--spanish-pink-2: #FDB9B9ff;
--spanish-pink-3: #FCB2B2ff;
--light-pink: #FCACACff;
--pastel-pink: #FBA6A6ff;
--salmon-pink: #FBA0A0ff;
--salmon-pink-2: #FA9A9Aff;
--light-coral: #FA9494ff;
--light-coral-2: #F98E8Eff;
--light-coral-3: #F98888ff;
--light-coral-4: #F88282ff;
--light-coral-5: #F87C7Cff;
--light-coral-6: #F77575ff;
--light-coral-7: #F76F6Fff;
--light-coral-8: #F66969ff;
--bittersweet: #F66363ff;
--tart-orange: #F55D5Dff;
--tart-orange-2: #F55757ff;
--tart-orange-3: #F45151ff;
--tart-orange-4: #F44B4Bff;
--tart-orange-5: #F34545ff;
--tart-orange-6: #F33F3Fff;
--imperial-red: #F23838ff;
--red-pigment: #F23232ff;
--red-pigment-2: #F12C2Cff;
--red-pigment-3: #F12626ff;
--red-pigment-4: #F02020ff;
